@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navIcon {
        @apply hidden h-6 md:inline-flex cursor-pointer hover:scale-125 
        transition-all duration-150 ease-out;
    }
    .iconSmall {
        @apply h-7 hover:scale-125 text-black cursor-pointer transition-all duration-150 ease-out;
    }
}
.right__login {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    background-color: rgba(var(--d87, 255, 255, 255), 1);
    border: 1px solid #dbdbdb;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
}
.moveRight {
    transform: translateX(-100%);
}
.moveLeft {
    transform: translateX(100%);
}
